body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAEDED;
}

.navLogo {
    background-color: #222F3E;
    width: 100%;
    height: 45px;
}

.imgLogo {
    width: 80px;
    height: auto;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 2px;
}

.navMenu {
    background-color: #354758;
    width: 100%;
    height: 30px;
    padding-top: 10px;
}

.navMenu a {
    color: white;
    text-decoration: none;
    padding-left: 25px;
    font-size: medium;
    font-weight: 300;
}

main {
    width: 100%;
    margin: 0;
}

.banner {
    margin-right: 25px;
    margin-top: 30px;
    margin-left: 25px;
}

.bannerCta {
    background-color: #F56600;
    margin-bottom: 30px;
    text-align: center;
    padding: 7px;
}

.bannerCta a {
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 300;
}

.bannerImg {
    width: 100%;
    height: 195px;
    background-image: url(./img/bg-image.png);
}

.bannerText {
       padding: 55px;
       color: white;
       text-align: center;
}

h1 {
    margin: 0;
    display: inline;
}

.bannerText h3 {
    margin-bottom: 0px;
}

.products {
    background-color: white;
    height: 500px;
    margin-right: 25px;
    margin-top: 30px;
    margin-left: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.prodWrapper {
    display: flex;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 440px;
    justify-content: space-between;
}

.products h3 {
    font-weight: 500;
    font-size: 1em;
    display: inline;
}

.products a {
    text-decoration: none;
    color: #017185;
    font-size: small;
    display: inline;
    font-weight: 600;
    padding-left: 10px;
}

.prodWrapper figure {
    margin: 0px;
    width: 23%;
}

.prodWrapper img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.579);
}

/*Sezione extra*/

.prodCategories {
    background-color:#EAEDED; 
    padding: 0px;
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.cat {
    height: 100%;
    width: 24%;
    background-color: white;
}

.catContent {
    padding: 20px;
}

.catContent h3 {
    font-weight: 600;
    font-size: 1.5em;
}

.catContent a {
    font-weight: 400;
}

.imgWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.imgWrapper figure {
    height: 130px;
    width: 140px;
    margin: 0;
    margin-bottom: 35px;
}

.imgWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgWrapper figcaption {
    font-size: small;
}

.promoImg {
    position: relative;
    top: -50px;
    left: 102px;
    z-index: 1;
}

.catContent a {
    padding-left: 0;
}

.gaming {
    margin-bottom: 60px;
    padding: 0px;
}

.gaming img {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.gaming h3 {
    margin: 0;
    font-weight: 500;
    font-size: 1em;
    display: inline;
}

.gaming a {
    text-decoration: none;
    color: #017185;
    font-size: small;
    display:inline;
    font-weight: 600;
    padding-left: 10px;
}

.gamText {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 5px;
}

.music {
    margin-bottom: 60px;
    padding: 0px;
}

.music img {
    width: 100%;
    height: 500px;
    object-fit: cover;
} 

.music h3 {
     margin: 0;
     font-weight: 500;
     font-size: 1em;
     display: inline;
}

.music a {
     text-decoration: none;
     color: #017185;
     font-size: small;
     display:inline;
     font-weight: 600;
     padding-left: 10px;
}

.musText {
     display: flex;
     align-items: flex-end;
     justify-content: center;
     padding-top: 5px;
}

footer {
    width: 100%;
}

.footCta {
    background-color:#354758;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footCta a {
    color: white;
    font-weight: 500;
    font-size: small;
    padding: 6px;
}

.footLogo {
    background-color: #222F3E;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footLogo img {
    width: 100px;
    height: auto;
    padding: 0;
}